/******************************************************************************/
/*-------------------------------- LigaTure Symbols --------------------------*/
/******************************************************************************/

@font-face {
  font-family: 'LigatureSymbols';
  src: url('../LigatureSymbols/LigatureSymbols-2.07.eot');
  src: url('../LigatureSymbols/LigatureSymbols-2.07.eot?#iefix') format('embedded-opentype'),
       url('../LigatureSymbols/LigatureSymbols-2.07.woff') format('woff'),
       url('../LigatureSymbols/LigatureSymbols-2.07.ttf') format('truetype'),
       url('../LigatureSymbols/LigatureSymbols-2.07.svg#LigatureSymbols') format('svg');
  src: url('../LigatureSymbols/LigatureSymbols-2.07.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lsf {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right: 0.3em;
  font-size: 64px;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon-dropcap:before {
  content:attr(title);
  font-size: 64px;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
